body{
  background-color: black;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  color: white;

}
article > h1 {
  font-size: 300;
  font

}
article{
  list-style-type: "Punkt";
}
article > section >a:link, article > section >a:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

article > section >a:hover, article > section >a:active {
    background-color: black;
}
